.card.small.card-custom
  .card-image.waves-effect.waves-block.waves-light
    img.activator(src="'+ group.GroupImageURL + '", style='width: 200px; height:200px;')
  .card-content
    a(href="group?groupname=' + group.Groupname + '")
      span.card-title.black-text
        strong + group.Groupname + 
    a.activator
      span
        i.material-icons.right more_vert
  .card-reveal
    span.card-title.grey-text.text-darken-4
      strong + group.Groupname + 
      i.material-icons.right close
    |  만든이
    br
    |     독자 수 : + group.readers +
    br
    |     작가 수 : + group.writers +
    br
    |     장르 : + group.Genre +
    br
    |     길이 : + 0 +
    br
    span(style='text-align: right;')
      a(href="group?groupname=' + group.Groupname + '")
        i.material-icons.right input
