.elasticbeanstalk/
*~

# VS Code Files
.vscode/*
typings/*
jsconfig.json

#images
public/groupimages/*.*
public/userimages/*.*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
