.elasticbeanstalk/
*~

# VS Code Files
.vscode/*
typings/*
jsconfig.json

public/static/images/*.*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
