extends contents-layout
block title
  title 그룹 만들기
block preload-script
block global
  if message
    .toast-custom#toast
      span #{message}
block contents-header
block contents
  .container.box-md(style='text-align:center;')
    .row
      h4.teal-text.text-darken-1(style="text-align:center; font-weight:bold;") 그룹 생성
    .row
      form(action='/create_group', method='post', enctype='multipart/form-data', style='text-align:center;')
        .row
          input#user_id.validate(name='id', type='text', length='20', placeholder='그룹 이름', style='text-align:center;')
        .row
          label 소설 장르
            select.browser-default(onChange='OnDropDownChange(this,"genre")')
              option(value='', disabled='', selected='') 선택
              option(value='일상') 일상
              option(value='로맨스') 로맨스
              option(value='무협') 무협
              option(value='전쟁') 전쟁
              option(value='판타지') 판타지
              option(value='공상과학') 공상과학
              option(value='역사') 역사
              option(value='추리') 추리
              option(value='범죄') 범죄
              option(value='공포') 공포
            input#genre(type='hidden', name='genre', value='')
        .row
          label 작성 시간 제한
            select.browser-default(onChange='OnDropDownChange(this,"writetimelimit")')
              option(value='', disabled='', selected='') 선택
              option(value='1') 1시간
              option(value='2') 2시간
              option(value='3') 3시간
              option(value='4') 4시간
              option(value='6') 6시간
              option(value='8') 8시간
              option(value='12') 12시간
              option(value='24') 24시간
              option(value='168') 7일 
              option(value='999') 제한 없음
            input#writetimelimit(type='hidden', name='writetimelimit', value='')
        .row
          label 투표 시간 제한
            select.browser-default(onChange='OnDropDownChange(this,"votetimelimit")')
              option(value='', disabled='', selected='') 선택 
              option(value='1') 1시간
              option(value='2') 2시간
              option(value='3') 3시간
              option(value='4') 4시간
              option(value='6') 6시간
              option(value='8') 8시간
              option(value='12') 12시간
              option(value='24') 24시간
              option(value='168') 7일 
              option(value='999') 제한 없음
            input#votetimelimit(type='hidden', name='votetimelimit', value='')
        .row
          label 작가 수 제한
            select.browser-default(onChange='OnDropDownChange(this,"writerlimit")')
              option(value='', disabled='', selected='') 선택
              option(value='1') 1명 (혼자 작성)
              option(value='2') 2명
              option(value='3') 3명
              option(value='4') 4명
              option(value='5') 5명
              option(value='10') 10명
              option(value='20') 20명
              option(value='30') 30명
              option(value='40') 40명
              option(value='50') 50명
              option(value='50') 100명
            input#writerlimit(type='hidden', name='writerlimit', value='')
        .row
          h5.grey-text.text-darken-2 글자수 제한 
        .row
          .col.s3
            h6.grey-text.text-darken-2 최소
          .range-field.col.s9
            input#lengthMin(name='lenmin', type='range', value='50', min='50', max='250')
        .row
          .col.s3
            h6.grey-text.text-darken-2 최대
          .range-field.col.s9
            input#lengthMax(name='lenmax', type='range', value='250',min='250', max='1000')
        .row
          .col.s6
            h6.grey-text.text-darken-2 롤백 허용 여부
          .col.s6
            input.filled-in#rollback_sw(name='allowrollback',type='checkbox', checked='checked')
            label(for='rollback_sw') 허용
        .row
          img.circle.profile#img_profile(src='/empty_group.jpg')
        .row
          .col.s6
            .file-field.input-field.btn.green(style="width:100%") 사진 업로드
              input#upload_profile(name='profile', type='file', multiple='')
          .col.s6
            .file-field.input-field.btn.red#delete_file(style="width:100%") 사진 삭제
        .row
          button.btn-large.waves-effect.waves-light.teal(type='submit', name='creategroup', style="width:100%;") 그룹 만들기
block contents-footer
block afterload-script
  script(type="text/javascript", src='viewjs/inputdropdown.js')
  script(type="text/javascript", src='viewjs/imageloader_group.js')
  script.
    $(document).ready(function() {
      setTimeout("$('#toast').fadeOut(2000);", 2000);
    });