extends contents-layout
block title
  title 대쉬보드
block preload-script
block contents-header
block contents
  .container(style='text-align:center;')
    a.btn-large.waves-effect.waves-light.blue(href='/myprofile', style="width:100%; max-width:400px; vertical-align:middle;") 프로필 변경
block contents-footer
block afterload-script