extends layout

block inlayout
  .row(style="margin:2em;")
    .col.s0.m2.l3
      .row
    .col.s12.m8.l6(style="text-align:center;")
      a.btn-large.waves-effect.waves-light.blue(href='/myprofile', style="width:100%; max-width:400px; vertical-align:middle;") 프로필 변경
    .col.s0.m2.l3
      .row