extends contents-layout
block title
  title 대쉬보드
block preload-script
block contents-header
block contents
  .container(style='text-align:center;')
    .row
      h4.light-blue-text.text-lighten-1(style="text-align:center; font-weight:bold;") 작성이 필요해요!
    .row
      ul.collection#cgroup
    .row
      a.btn.waves-effect.waves-light.teal.lighten-1#loadmorebutton(style="width:150px;") 더 보기
    .row
      h4.light-blue-text.text-lighten-1(style="text-align:center; font-weight:bold;") 투표가 필요해요!
    .row
      ul.collection#cgroup
    .row
      a.btn.waves-effect.waves-light.teal.lighten-1#loadmorebutton(style="width:150px;") 더 보기
    .row
      h4.light-blue-text.text-lighten-1(style="text-align:center; font-weight:bold;") 참여중인 그룹
    .row
      ul.collection#cgroup
    .row
      a.btn.waves-effect.waves-light.teal.lighten-1#loadmorebutton(style="width:150px;") 더 보기
block contents-footer
block afterload-script
  script(type='text/javascript', src='viewjs/loadmoregroup.js')
  script(type='text/javascript').
    var numInitialGroup = 5;
    var numIncremental = 5;
    var grouphtml = `
    '<li class="collection-item avatar" style="padding-left:90px; padding-right:60px; text-align:left;">'
        +'<img src="'+ group.GroupImageURL + '" alt="" class="circle responsive-img" style="margin:auto; width:65px; height:65px;">'
        +'<span class="title"><strong>'+ group.Groupname + '</strong></span>'
        +'<p>Genre : '+ group.Genre + '<br>Second Line</p>'
        +'<a href="group?groupname=' + group.Groupname + '"class="secondary-content" style="margin:auto;"><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></a>'
    +'</li>'`;
    $(loadmore('cgroup', numInitialGroup, '/dashboard/moregroup', grouphtml));
    $( "#loadmorebutton" ).click(function() {
      loadmore('cgroup', numIncremental, '/dashboard/moregroup', grouphtml);
    });