extends contents-layout
block title
  title 대쉬보드
block preload-script
block contents-header
block contents
  .container(style='text-align:center;')
    .row
      h4.light-blue-text.text-lighten-1(style="text-align:center; font-weight:bold;") 참여중인 그룹
    .card-container#cgroup
    .row
      a.btn.waves-effect.waves-light.teal.lighten-1#loadmorebutton(style="width:150px;") 더 보기
block contents-footer
block afterload-script
  script(type='text/javascript', src='viewjs/loadmoregroup.js')
  script(type='text/javascript').
    var numInitialGroup = 8;
    var numIncremental = 8;
    $(loadmore('cgroup', numInitialGroup, '/dashboard/moregroup', '/dashboard/dashboardcard'));
    $( "#loadmorebutton" ).click(function() {
      loadmore('cgroup', numIncremental, '/dashboard/moregroup', '/dashboard/dashboardcard');
    });