extends contents-layout
block title
  title RELAY NOVEL
block preload-script
block contents-header
block contents
  .container(style='postion:relative; text-align:center;')
    br
    h2.teal-text.text-darken-1 릴레이노벨에 오신 것을 환영합니다!
block contents-footer
block afterload-script