extends contents-layout
block title
  title 그룹 목록
block preload-script
block contents-header
block contents
  .container(style='text-align:center;')
    .row
      ul.collection#cgroup
    .row
      .col.s6
        btn.btn-large.waves-effect.waves-light.teal.lighten-1#loadmorebutton(style="width:100%; max-width:200px;") 그룹 더 보기
      .col.s6
        a.btn-large.waves-effect.waves-light.orange.lighten-1(href='/create_group', style="width:100%; max-width:200px; vertical-align:middle;") 그룹 만들기
block contents-footer
block afterload-script
  script(type='text/javascript', src='viewjs/loadmoregroup.js')
  script(type='text/javascript').
    var numInitialGroup = 10;
    var numIncremental = 5;
    $(loadmore(numInitialGroup));
    $( "#loadmorebutton" ).click(function() {
      loadmore(numIncremental);
    });