doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Relay Novel
    // Bootstrap
    // link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // link(href='/stylesheets/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/stylesheets/materialize.min.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel="stylesheet")
  body
    nav.teal.lighten-1
      .container
        .nav-wrapper
          a.brand-logo(href='/') RELAY NOVEL
          a.button-collapse(href-'#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='/') 홈
            li
              a(href='#') 그룹
            li
              a(href='#') 대쉬보드
            li
              a(href='/login') 로그인
          ul#mobile-demo.side-nav
            li
              a(href='/') 홈
            li
              a(href='#') 그룹
            li
              a(href='#') 대쉬보드
            li
              a(href='/login') 로그인

    block content
    
    footer.page-footer.teal.lighten-1
      .container
        .row
          .col.l6.s12
            h5.white-text KAIST CS350
            p.grey-text.text-lighten-4
              | Lorem ipsum blah blah ...
          .col.l3.s12
            h5.white-text 오늘의 베스트 
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
          .col.l3.s12
            h5.white-text 최근 업데이트
            ul
              li
                a.white-text(href='#!') Link 1
              li
                a.white-text(href='#!') Link 2
              li
                a.white-text(href='#!') Link 3
              li
                a.white-text(href='#!') Link 4
      .footer-copyright.teal.darken-2
        .container
          | Made by 
          a.orange-text.text-lighten-2(href='#') Team Fossil
  script(src='/javascripts/jquery.min.js')
  // script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/materialize.min.js')
  script(src='/javascripts/init.js')
