doctype html
html(lang='ko')
  head
    // meta tags
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // default title block
    block title
      title RELAY NOVEL
    // stylesheets
    link(href='/stylesheets/materialize.min.css', rel='stylesheet')
    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel="stylesheet")
    // javascripts
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/materialize.min.js')
    // script(src='https://use.fontawesome.com/05135ebf77.js')
    script(src='/javascripts/init.js')
    block preload-script
  body
    block global
    // navigation Start
    ul#dropdown.dropdown-content
      li
        a(href='/joinable') 참여하기
      li
        a(href='/create_group') 만들기
    ul#dropdown_mobile.dropdown-content
      li
        a(href='/joinable') 참여하기
      li
        a(href='/create_group') 만들기
    nav.teal.lighten-1
      .container.box-large
        .nav-wrapper
          a.brand-logo(href='/') RELAY NOVEL
          a.button-collapse(href-'#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a.waves-effect.waves-light(href='/') 홈
            li
              if session && session.logined
                a.waves-effect.waves-light.dropdown-button(href='#!', data-activates='dropdown')
                  | 그룹
                  i.material-icons.right arrow_drop_down
            li
              if session && session.logined
                a.waves-effect.waves-light(href='/dashboard') 대쉬보드
            li
              if session && session.logined
                a.waves-effect.waves-light(href='/profile') 내 프로필
            li
              if session && session.logined
                form(id = 'logout' action='/logout', method='post')
                  a.waves-effect.waves-light(href='#' onclick="document.getElementById('logout').submit();") 로그아웃
              else
                a.waves-effect.waves-light(href='/login') 로그인
            li
              if session && session.logined
              else
                a.waves-effect.waves-light(href='/register') 가입하기
          ul#mobile-demo.side-nav
            li
              a.waves-effect(href='/') 홈
            li
              if session && session.logined
                a.waves-effect.dropdown-button(href='#!', data-activates='dropdown_mobile')
                  | 그룹
                  i.material-icons.right arrow_drop_down
            li
              if session && session.logined
                a.waves-effect(href='/dashboard') 대쉬보드
            li
              if session && session.logined
                a.waves-effect(href='/profile') 내 프로필
            li
              if session && session.logined
                form(id = 'logout' action='/logout', method='post')
                  a.waves-effect(href='#' onclick="document.getElementById('logout').submit();") 로그아웃
              else
                a.waves-effect(href='/login') 로그인
            li
              if session && session.logined
              else
                a.waves-effect(href='/register') 가입하기
    // navigation End
    // contents-layout start
    contents
      block contents-layout
    // contents-layout end
    // footer start
    footer.page-footer.teal.lighten-1
      // footer for users start
      if session && session.logined 
        .container
          .row
            .col.s12.m6
              h5.white-text 
                i.material-icons thumb_up
                |  오늘의 베스트
              ul#bestgroups
            .col.s12.m6
              h5.white-text 
                i.material-icons schedule
                |  최근 업데이트
              ul#recentgroups
        script(type='text/javascript', src='viewjs/loadlayouturl.js')
        script(type='text/javascript').
          $(loadlinks());
      // footer for user end
      // footer for guest start
      .footer-copyright.teal.darken-2
        .container(style="text-align:right;")
          | Made by 
          span.orange-text.text-lighten-2(style='font-weight: bold;') KAIST 350 Team Fossil 
          span.white-text  , v1.0
      // footer for guest end
    // footer end
  block afterload-script
