extends layout

block content
    .row(style="margin:2em;")
      .col.s0.m2.l4
        .row
      .col.s12.m8.l4.grey.lighten-5(style="border:0.2em grey solid; border-radius:1em; padding: 2em;")
        .row
          h4.teal-text.text-darken-1(style="text-align:center; font-weight:bold;") 환영합니다!
        form(action='/login', method='post' style='text-align:center;')
          .row
            .input-field
              input#user_id.validate(name='id', type='text')
              label(for='user_id') 아이디
          .row
            .input-field
              input#user_pw.validate(name='pswd', type='password')
              label(for='user_pw') 패스워드
          .row
              input#user_remember.filled-in(name='rememberme' type='checkbox')
              label(for='user_remember') 기억하기
          .row
            button.btn-large.waves-effect.waves-light(type='submit', name='action', style="width:100%;") 로그인
        .row
          a.teal-text(href='/register', style="text-align:center;")
            h6 아직 아이디가 없으세요?
      .col.s0.m2.l4
        .row

