extends contents-layout
block title
  title 로그인
block preload-script
block global
  if message
    .toast-custom#toast
      span #{message}
block contents-header
block contents
  .container.box-sm(style='text-align:center;')
    h4.teal-text.text-darken-1(style="text-align:center; font-weight:bold;") 환영합니다
    .row
      form(action='/login', method='post', style='text-align:center;')
        .row
          input#user_id.validate(name='id', type='text', placeholder='아이디', style='text-align:center;')
          input#user_pw.validate(name='pswd', type='password', placeholder='패스워드', style='text-align:center;')
        .row
          input#user_remember.filled-in(name='rememberme' type='checkbox')
          label(for='user_remember') 기억하기
        .row
          button.btn-large.waves-effect.waves-light(type='submit', name='action', style="width:100%;") 로그인
    a.teal-text(href='/register', style="text-align:center;")
      h6 아직 아이디가 없으세요?
block contents-footer
block afterload-script
  script(type="text/javascript").
      $(document).ready(function() {
        setTimeout("$('#toast').fadeOut(2000);", 2000);
      });